<h1>Admin Panel</h1>
<%= link_to new_show_path, :class=>'add_btn'  do %>
    <i class='icon-plus'></i> Add New Show
<% end %>

<div class='list'>
    <% @shows.each do |show| %>
        <div class='listing'>
            <h2><%= show.title %></h2>
            <span class='actions'>
                <%= link_to 'View', show %> | 
                <%= link_to 'Edit', edit_show_path(show) %> |
                <%= link_to 'Will-Call List', will_call_path(show) %> |
                <%= link_to 'Add Reservation', reserve_path(show) %></td>
            </span>
        </div>
    <% end %>
</div>

