<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @show.title %>
</p>

<p>
  <b>Description:</b>
  <%= @show.description %>
</p>

<ul>
    <% @show.performances.each do |performance| %>
        <li><%= performance.date %> - <%= performance.venue.name %></li>
    <% end %>
</ul>
<%= link_to 'Add Performance', new_performance_path(show_id: @show.id) %>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
