<% content_for :title, @show.title %>
<% if @show.banner? %>
    <%= image_tag @show.banner.url(:medium), :class=>'banner' %>
<% end %>
<p id="notice"><%= notice %></p>
<h2><%= @show.title %></h2>
<div class='column left'>
    <h3>About the show</h3>
    <div class='show-descrition'> <%= simple_format(@show.description) %> </div>
  </div>
  <div class='column right'>

<h3>Performances:</h3>
<div class='list'>
    <% @performances.each do |performance| %>
        <div class='listing'>
            <p><b><%= performance.venue.name %></b><br />
                <%= link_to "#{performance.date_string}", performance_path(performance) %></p> 
                <%= link_to_if(user_signed_in?, "Edit", edit_performance_path(performance)){}%>
        </div>
    <% end %>
    <% if user_signed_in? %>
        <%= link_to new_performance_path(show_id: @show.id), :class=>'add_btn' do %>
        <i class='icon-plus'></i> New Performance
        <% end %>
        <%= link_to edit_show_path(@show), :class=>'add_btn' do  %>
            <i class='icon-edit'></i> Edit Curent Show
        <% end %>
<% end %>
</div>
</div>
