<p id="notice"><%= notice %></p>

<h2><%= @show.title %></h2>
<p>
  <%= @show.description_to_html %>
</p>

<table>
    <% @show.performances.each do |performance| %>
        <tr>
            <td><%= performance.venue.name %><br /><%= performance.date_string %></td>
            <td><%= link_to "Show", performance_path(performance) %></td>
            <td><%= link_to "Edit", edit_performance_path(performance) %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'Add Performance', new_performance_path(show_id: @show.id) %>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
