<p id="notice"><%= notice %></p>

<h2><%= @show.title %></h2>
<p>
  <%= @show.description_to_html %>
</p>

<%= link_to new_performance_path(show_id: @show.id), :class=>'add_btn' do %>
    <i class='icon-plus'></i> New Performance
<% end %>
<%= link_to edit_show_path(@show), :class=>'add_btn' do  %>
    <i class='icon-edit'></i> Edit Curent Show
<% end %>
<div class='list'>
    <% @show.performances.each do |performance| %>
        <div class='listing'>
            <h2><%= performance.venue.name %><br /><%= performance.date_string %></h2>
            <span class='actions'>
                <%= link_to "Show", performance_path(performance) %> | 
                <%= link_to "Edit", edit_performance_path(performance) %>
            </span>
        </div>
    <% end %>
</div>
