<% content_for :title, "#{@show.title} Reservations" %>
<style>
</style>
<h2>Will Call - <%= @show.title %></h2>

<% if params[:print] != "1" %>
    <%= link_to will_call_path(@show, :print=>1) do %>
        <i class='icon-print'></i> Print
    <% end %>
<% else %>
    <%= link_to will_call_path(@show) do %>
        <i class='icon-print'></i> Don't Print
    <% end %>
<% end %>
<table class='fancy' cellpadding=0 cellspacing=0 width='100%' >
    <thead>
        <tr>
            <td>
                <%= link_to will_call_path(@show, :sort=>'purchased_at') do %>
                    Time <i class='icon-sort-by-order'></i>
                <% end %>
            </td>
            <td> 
                <%= link_to will_call_path(@show, :sort=>'order_firstname') do %>
                    First <i class='icon-sort-by-alphabet'></i>
                <% end %>
            </td>
            <td>
                <%= link_to will_call_path(@show, :sort=>'order_lastname') do %>
                    Last <i class='icon-sort-by-alphabet'></i>
                <% end %>
            </td>
            <td>
                <%= link_to will_call_path(@show, :sort=>'order_email') do %>
                    Email <i class='icon-sort-by-alphabet'></i>
                <% end %>
             </td>
                <td>Qty.</td>
                <td><%= link_to will_call_path(@show, :sort=>'payment_type_cd') do %>
                    Type <i class='icon-sort-by-alphabet'></i>
                <% end %></td>
            </tr>
        </thead>
        <% total = 0 %>
        <% @performances.each_with_index do |p, idx| 
            perf_total = 0 %>
        <tr>
            <td colspan='6' class='dark'><%= p.date_string %></td>
            <% @performance_tickets[idx].each do |t| %>
                <% if t.cart.purchased_at? %>
                    <tr class='<%= cycle('even','odd') %>'>
                        <td><%= t.cart.placed_at.localtime %></td>
                        <td><%= t.cart.order_firstname %> </td>
                        <td><%= t.cart.order_lastname %></td>
                        <td><%= t.cart.order_email %></td>
                        <td><%= t.quantity %> <%="â˜ " * t.quantity if params[:print] == "1"%></td>
                        <td><%= t.cart.payment_type %></td>
                        <% total += t.quantity %>
                        <% perf_total += t.quantity %>
                    </tr>
                <% end %>
            <% end %>
                <tr class='minor_total'>
                <td colspan='5'><%= p.date_string %> Total</td>
                <td><%= perf_total %></td>
            </tr>
        </tr>
    <% end %>
        <tr class='total'>
            <td colspan='5'>Show Total</td>
            <td><%= total %></td>
        </tr>
    </table>
