
<div class='main_calendar'>
    <h2 id="month">
        <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>   
        <%= link_to ">", date: @date.next_month %>
    </h2>

    <div id="performance-calendar">
        <%= calendar @date do |date| %>
            <%= date.day %>
            <% if @performances_by_date[date] %>
                <ul>
                    <% @performances_by_date[date].each do |perf| %>
                        <li><%= perf.date.strftime("%l:%M %p") %> <%= link_to perf.show.title, perf %></li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    </div>
</div>
<div class='side'>
    Side bar
    <table border='0' cellpadding='0' cellspacing='0' class='add_to_cart_table'>
        <tr>
            <th>Show</th>
            <th>Time</th>
            <th>Price</th>
            <th>Qty</th>
        </tr>
        <tr>
            <td>Love, Loss, etc.</td>
            <td>8PM</td>
            <td>$15</td>
            <td>1</td>
        </tr>
    </table>
    <a href='#' class='button right'> Add to cart</a>
</div>
