<div class='main_calendar'>
    <h2 id="month">
        <%= link_to "<", date: @date.prev_month %>
        <%= @date.strftime("%B %Y") %>   
        <%= link_to ">", date: @date.next_month %>
    </h2>
    <p style='text-align:center;' >Select a date and time below to purchase tickets or view your <%= link_to "cart", edit_cart_path(@current_cart) %> to checkout.</p>
    <div id="performance-calendar">
        <%= calendar @date do |date| %>
            <%= date.day %>
            <% if @performances_by_date[date] %>
                <ul>
                    <% @performances_by_date[date].each do |perf| %>
                        <li><%= perf.date.strftime("%l:%M %p") %> <%= link_to perf.show.title, perf %></li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    </div>
</div>
