<h2><%= @performance.show.title %></h2>
<div class='column left'>
    <h3>About the show</h3>
    <p><%= @performance.show.description_to_html %></p>
</div>
<div class='column right'>
    <table >
        <% if @performance.venue %>
            <tr valign='top'>
            <td><b>Where:</b></td> 
            <td>
                <%= @performance.venue.name %><br />
                <%= @performance.venue.street_address %><br />
                <%= @performance.venue.city %>,
                <%= @performance.venue.state %>
                <%= @performance.venue.zipcode %>
            </td>
        </tr>
    <% end %>
        <tr valign='top'>
            <td><b>When:</b> </td>
            <td><%= @performance.date_string %></td>
        </tr>
        <tr valign='top'>
            <td><b>Price:</b> </td>
            <td><%= @performance.price_string %></td>
        </tr>
    </table>
    <% if @performance.sold_out? %>
        <p>We're sorry.  This performance is Sold Out.</p>
    <% elsif @performance.date <= Date.today %>
        <p>This performance occurred in the past.</p>
    <% else %>
        <%= form_for Ticket.new do |f| %>
            <p><b>How Many:</b> <%= f.select :quantity, (1..10).to_a %> </p>
            <%= f.hidden_field :performance_id, value: @performance.id %>
            <%= f.submit "Add to cart", class:'button' %>
        <% end %>
    <% end %>
</div>
