<!DOCTYPE html>
<html>
    <head>
        <title>Usherette</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
        <div class='header'>
            <div class='container'>
                <h1 style=''><%= link_to "Usherette", root_path %></h1>
                <div class='shopping-cart'>
                    <i class='icon-shopping-cart'></i> <%= link_to "My Cart (#{@current_cart.tickets.count})", edit_cart_path(@current_cart) %>
            </div>
                <% if user_signed_in? %>
                    <div class='logout'>
                        Logged in as <%= current_user.email %><br />
                        <%= link_to "Logout", destroy_user_session_path, :method=>:delete %>
                    </div>
                <% end %>
                <div style='clear: both'></div>
            </div>
        </div>
        <% flash.each do |key, value| %>
              <%= content_tag(:div, value, :class => "notice #{key}") %>
          <% end %>
        <div class='container'>
            <%= yield %>
        </div>
        <div class='footer clearfix'>
            <%= link_to 'Contact', new_message_path() %> |
            <a href='/about'>About</a>
            <br />
            Copyright &copy; 2013 - Frank Riccobono
        </div>
    </body>
</html>
