<!DOCTYPE html>
<html>
    <head>
        <title>Usherette</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <%= link_to "My Cart (#{@current_cart.tickets.count})", cart_path(@current_cart.id) %>
        <%= yield %>

    </body>
</html>
