<!DOCTYPE html>
<html>
    <head>
        <title>Usherette</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class='header'>
            <div class='container'>
                <h1 style=''><%= link_to "Usherette", root_path %></h1>
                <%= link_to "My Cart (#{@current_cart.tickets.count})", edit_cart_path(@current_cart) %>
                <% if user_signed_in? %>
                    <div class='logout'>
                        Logged in as <%= current_user.email %><br />
                        <%= link_to "Logout", destroy_user_session_path, :method=>:delete %>
                    </div>
                <% end %>
                <div style='clear: both'></div>
            </div>
        </div>
        <% if flash[:notice] %>
            <div class='notice'>
                <%= flash[:notice] %>
            </div>
        <% end %>
        <div class='container'>
            <%= yield %>
        </div>

    </body>
</html>
